/* Update the existing media query */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5vh !important;
        width: 90% !important;
    }
}

@media only screen and (max-height: 768px) and (orientation: landscape) {
    h1 {
        width: 75% !important;
        font-size: 8vh !important;
    }
}

@media only screen and (max-height: 768px) and (orientation: landscape) {
    #spotifyMusic {
        width: 65vw !important;
    }

    .after-spotify {
        margin-top: -15vh !important;
    }
}

iframe {
    box-shadow: none;
}

@media screen and (min-width:768px) {
    iframe {
        width: 40vw;
    }
}


.after-spotify {
    margin-top: -5vh;
}